<!DOCTYPE html>
<html>
<head>
  <title>Rmp</title>
  <%= stylesheet_link_tag    "rmp/application", media: "all" %>
  <%= javascript_include_tag "rmp/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
